@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');
/*header*/
/*donate button*/
.fs-header-top .fs-top-tools .fs-btn{
    background:#fd7301 !important;
    border-radius: 25px !important;
}
a.a2a_button_facebook, a.a2a_button_twitter, a.a2a_button_email, a.a2a_dd{
    background:#fd7301 !important;
}
    /*remove logo*/
.fs-header-top .fs-logo-container{
    display:none !important;
}
.fs-header-top{
    border:none !important;
}

/*fonts title and buttons*/
h1 *,h2, h3, h4, .donate-button *,.btn{
    font-family: "Sniglet", serif !important;
}