@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');
/*header*/
/*donate button*/
.fs-header-top .fs-top-tools .fs-btn{
    background:#fd7301 !important;
    border-radius: 25px !important;
}
a.a2a_button_facebook, a.a2a_button_twitter, a.a2a_button_email, a.a2a_dd{
    background:#fd7301 !important;
}
    /*remove logo*/
.fs-header-top .fs-logo-container{
    display:none !important;
}
.fs-header-top{
    border:none !important;
}

/*fonts title and buttons*/
h1 *,h2, h3, h4, .donate-button *,.btn{
    font-family: "Sniglet", serif !important;
}

/*hero image*/
.fs-header:before {
    background-image: 
   url("https://chabadofwesthills.com/media/images/1301/gFJZ13010256.png");
   background-size:100% 100%;
   }
   @media screen and (max-width: 700px) {
   .fs-header:before {
    background-image: 
   url("https://chabadofwesthills.com/media/images/1301/Ddyf13010255.png");
   background-size:100% 100%;
   }
   }
   /*text hero*/
   
   .fs-header .page-header h1 small{
    color:white !important;
    font-size:36px !important;
   }
   .fs-header .page-header h2{
    color:#fed401 !important;
    margin-top:0px !important;
   }
   .page-header .a-delay-200ms{
    text-transform: uppercase !important;
   }

/*buttons */
.donate-button .donate-button-text {
    background:#fed401 !important;
  border-radius: 25px !important;
  
  }
 /* .donate-button .donate-button-text:hover{
    background: #FFF !important;
  }
  /*goal section*/
  .jumbotron.fs-header {
    border-bottom: 4px solid #FFF !important;
}
.fs-goal{
background:#FFF !important ;
}
.col-md-6.text-xs-center.text-md-right.fs-goal-text{
    color:#032550 !important;
}
.fs-goal .fs-goal-text .fs-goal-amount,.fs-goal .fs-goal-graph-container .fs-goal-graph-text span{
    color:#fd7301 !important;
}
/*goal meter not filled and then filled*/
.fs-goal-graph-fill{
    background:#032550 !important;
}
.fs-goal-graph{
    background: #fd7301 !important;
}
/*center goal*/
/*@media (min-width:992px){
    .fs-goal .fs-goal-text{
    display: flex !important;
    justify-content: center !important;
    }
}
/*matchers*/
.container-fluid.fs-matchers{
    background:#FFF !important;
}
.fs-matchers .fs-matchers-intro strong{
    color:#032550 !important;
}
.fs-matchers .fs-matcher .fs-matcher-image{
    display:none !important;   
}
.fs-matchers .fs-matcher .fs-matcher-title{
    display:none !important;
}